.list-item {
    display: grid;
    grid-template-columns: 1fr 5fr ;
    align-items: center;
    padding: 8px;
  }

  .list-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin:0px 20px;
  }
  .details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
  }
  .name {
    font-weight: bold;
    text-align: left;
  }
  
  .email {
    text-align: left;
    color: #555;
  }

  @media screen and (max-width: 600px) {
    .details {
        display: flex;
        flex-direction: column;
      }
    .list-avatar {
        margin:0 5px 0 0;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}